@charset "utf8";

.grid {
    display: grid;
    grid-column-gap: 3mm;
    grid-row-gap: 3mm;
    grid-template-columns: auto auto auto auto;
}
.card {
   padding: 3mm;
   border: 0.5px solid black;
   border-radius: 3mm;
   width: calc(52.88mm - 1px);
   height: calc(78.28mm - 1px);
}
.inner {
	padding: 3mm 2px;
	border: 0.5px solid black;
	width: calc(100% - 3px);
	height: calc(100% - 6mm);
	border-radius: 2mm;
}
.name {
    margin: 0;
    text-align: center;
}
.icon {
    display: block;
    text-align: center;
    font-size: 140;
    font-weight: 100;
    height: 2cm;
}
.smaller {
    font-size: 80;
}
.icon-back {
    display: block;
    text-align: center;
    font-size: 200;
    line-height: 75mm;
}
.desc {
    top: 20mm;
    position: relative;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 12;
}